<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Account Has Been Unblocked</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            background-color: #f7f7f7;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .content {
            margin-top: 20px;
        }

        .footer {
            margin-top: 30px;
            font-size: 0.9em;
            color: #777;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="logo-container" style="text-align: center;">
            <a href="#">
                <img style="width: 70px;" id="logo"
                    src="https://tiptop-stag.syd1.digitaloceanspaces.com/staging/TiptopUser.png" width="70" alt="" />
            </a>
        </div>

        <p>Dear Admin,</p>

        <div class="content">
            <p>We would like to inform you that a ride has been canceled by the assigned driver. Below are the details
                of the canceled
                ride for your reference:</p>
            <p>
                <strong>Ride Details:</strong>
            <ul>
                <li style="color: black;font-weight: 20px;">Order ID: {{ORDER_ID}}</li>
                <li style="color: black;font-weight: 20px;">Customer Name: {{CUS_NAME}}</li>
                <li style="color: black;font-weight: 20px;">Customer Contact: {{CUS_PHONE}}</li>
                <li style="color: black;font-weight: 20px;">Pickup Location: {{PICKUP}}</li>
                <li style="color: black;font-weight: 20px;">Drop-off Location: {{DROP}}</li>
                <li style="color: black;font-weight: 20px;">Driver Name: {{DRIVER_NAME}}</li>
                <li style="color: black;font-weight: 20px;">Driver Contact: {{ORDER_PHONE}}</li>
                <li style="color: black;font-weight: 20px;">Cancellation Reason: {{REASON}}</li>

            </ul>
            </p>
            <SPAn>Thank you for your attention to this matter.</SPAn>

            <p>Best regards,<br>
                TipTop Ride</p>
        </div>

        <div class="footer">
            <p>This is an automated message; please do not reply to this email. If you have any questions, contact our
                support team.</p>
        </div>
    </div>
</body>

</html>